body{
    background-color: black;
    color:#F6F6f6;
}
.title{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: space-around;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.labelInput, .input,.btn{margin: 10px;}
.blockForm_title{color: #0B63F6;}
.input{
    width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 2px solid #003CC5;
	background: #F6F6f6;
	border-radius: 8px;
    color: black;
}
.textarea{
    padding: 10px; 
    /* width: 100%;  */
    height: 200px;
    box-sizing: border-box;
    font-size: 14px;
}
.btn{
        border: none;
        border-radius: 10px;
        color: white;
        background: #0B63F6;
        box-shadow: 0 5px 0 #003CC5;
}
.btn:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.blockForChat{
    display: none;
    flex-direction: row;
    /* flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start; */
}
.userName{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.userAvatar{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.userComment {
    background-color: #e0e0e0; 
    padding: 15px; 
    border-radius: 20px; 
    border: 3px solid #999; 
    margin-top: 20px;
    font-style: italic; 
    color: black;
    max-width: 230px;
    word-wrap: break-word;
}
.wrapper{
    margin-left: 20px;
}